= form_for [:admin, @faq], html: { class: "form-horizontal" } do |f|
  .form-group
    .col-sm-offset-2.col-sm-10
      .checkbox
        %label
          = f.check_box :active
          Active?
  .form-group
    = f.label :rank, class: "col-sm-2 control-label"
    .col-sm-10
      = f.number_field :rank, placeholder: "Rank", class: "form-control"
  .form-group
    = f.label :question, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :question, placeholder: "Question", class: "form-control"
  .form-group
    = f.label :answer, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :answer, placeholder: "Answer", class: "form-control"
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: "btn btn-primary"
