.container
  .row
    .col-xs-12
      .panel.panel-default
        .panel-heading
          %h4 New/Edit FAQ
        .panel-body
          = render partial: "form"
  .row
    .col-xs-12
      .panel.panel-default
        .panel-heading
          %h4 FAQs
        .table-responsive
          %table.table.table-bordered.table-hover
            %thead
              %tr
                %th Active
                %th Rank
                %th Question
                %th Created At
                %th
            %tbody
              - @faqs.each do |faq|
                %tr
                  %td= faq.active ? "Yes" : "No"
                  %td= faq.rank
                  %td= faq.question
                  %td= faq.created_at.strftime("%m/%d/%y %I:%M %p")
                  %td
                    = link_to "Edit", edit_admin_faq_path(faq)
                    &vert;
                    = link_to "Delete", admin_faq_path(faq), method: :delete, data: { confirm: "Are you sure you want to delete this FAQ?" }
