.modal.fade#specialty-modal(tabindex="-1" role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        %button.close(type="button" data-dismiss="modal" aria-label="Close")
          %span(aria-hidden="true") &times;
        %h4.modal-title
          %span.name
      .modal-body
        .row
          .col-md-12
            %div
              %b Doctor:
              = link_to "", "#", class: "doctor open-sesame", data: { id: 0, type: "doctor" }
            %div
              %b= link_to "", "#", class: "parent-specialty open-sesame", data: { id: 0, type: "specialty" }
            %div
              %b Procedures:
              %ul.procedures
              = link_to "", "#", class: "procedure open-sesame hidden", data: { id: 0, type: "procedure" }
            %div
              %b Specialties:
              %ul.children
              = link_to "", "#", class: "child-specialty open-sesame hidden", data: { id: 0, type: "specialty" }
            %div
              %b= link_to "View More Info", "#", class: "pages", target: :_blank
              %b.divider=  "|"
              %b= link_to "External Info", "#", class: "link", target: :_blank
            %div.description
      .modal-footer
        %button.btn.btn-default(type="button" data-dismiss="modal") Close
