.container
  .anchor-row.heading
    .left-column.text-center
      %h3 Our Doctors
    .right-column
      %p We are the leading independent surgical facility in the area. our independence allows us the agility to provide the most innovative, nuturing care possible.
      .flow-icon
        = fa_stacked_icon "chevron-down", base: "circle", class: "fa-2x"
.group
  .container
    - @doctors.each do |doctor|
      .anchor-row.exempt
        .left-column.text-center
          .row
            .col-sm-10.col-sm-offset-1
              = image_tag doctor.image.square, class: "img-responsive img-circle"
        .right-column
          %h2= [doctor.name, doctor.kind].join(", ")
          %p= doctor.description
          %ul
            %li= link_to "Specialty", "#"
            %li= link_to "Bio", "#"
            %li= link_to "Associations", "#"
