.container
  .anchor-row.heading
    .left-column.text-center
      %h3 Our Doctors
    .right-column
      %p We are the leading independent surgical facility in the area. our independence allows us the agility to provide the most innovative, nuturing care possible.
      .flow-icon
        = fa_stacked_icon "chevron-down", base: "circle", class: "fa-2x"
.group
  .container
    .anchor-row
      .left-column.text-center
        .row
          .col-sm-10.col-sm-offset-1
            = image_tag "partners/mudge.jpg", class: "img-responsive img-circle"
      .right-column
        %h2 Kim Mudge, MD, FACS
        %p We are the leading independent surgical facility in the area. our independence allows us the agility to provide the most innovative, nuturing care possible.
        %ul
          %li= link_to "Specialty", "#"
          %li= link_to "Bio", "#"
          %li= link_to "Accolades", "#"
    .anchor-row
      .left-column.text-center
        .row
          .col-sm-10.col-sm-offset-1
            = image_tag "partners/nicholson.jpg", class: "img-responsive img-circle"
      .right-column
        %h2 Thomas Nicholson, MD, FACRS
        %p We are the leading independent surgical facility in the area. our independence allows us the agility to provide the most innovative, nuturing care possible.
        %ul
          %li= link_to "Specialty", "#"
          %li= link_to "Bio", "#"
          %li= link_to "Accolades", "#"
    .anchor-row
      .left-column.text-center
        .row
          .col-sm-10.col-sm-offset-1
            = image_tag "partners/prats.jpg", class: "img-responsive img-circle"
      .right-column
        %h2 Ignacio Prats, MD, FACS
        %p We are the leading independent surgical facility in the area. our independence allows us the agility to provide the most innovative, nuturing care possible.
        %ul
          %li= link_to "Specialty", "#"
          %li= link_to "Bio", "#"
          %li= link_to "Accolades", "#"
