%footer
  .container.anchor-row
    .left-column.hidden-mobile
      .row.text-center
        .col-xs-6
          = link_to "https://www.facebook.com/LeaderSurgicalAssociatesandCenter", target: :_blank do
            = fa_stacked_icon "facebook", base: "circle", class: "fa-3x"
        .col-xs-6
          = link_to "https://plus.google.com/101323525078192921456/about", target: :_blank do
            = fa_stacked_icon "google", base: "circle", class: "fa-3x"
    .right-column
      .row
        .col-md-6.text-right
          %div
            %b UPMC Leader Surgery Center
          %div 1703 Innovation Drive, Suite 1100
          %div York, PA 17408
        .col-md-6.text-left
          %div
            Hours
            %b M to F, 8 AM to 4:30 PM
          %div
            Phone
            %b 717.894.5640
          %div
            Fax
            %b 717.747.9870
      .row.tomify
        .col-xs-12.text-center
          Website by #{link_to "Tomify", "http://www.tomify.me", target: :_blank}
    .clearfix
