- if current_user.try(:admin)
  .admin-navbar.navbar.navbar-default.center
    .container-fluid
      %ul.nav.navbar-nav
        %li= link_to "Users", admin_users_path
        %li= link_to "Doctors", admin_doctors_path
        %li= link_to "Logout", session_path, method: :delete
.container.nav-outer.anchor-row
  .left-column
    = link_to home_path do
      = image_tag asset_path("logo.jpg"), class: "img-responsive"
  .right-column
    .right-column-inner
      %nav
        %ul.nav.navbar-nav
          - navbar_links.each_with_index do |action, index|
            - unless index.zero?
              %li.divider-outer
                %span.divider
            - classes = action[:path] == request.path ? "active" : ""
            %li(class="#{classes}")
              = link_to action[:text], action[:path]
